@font-face {
    font-family: "Chava"; 
    src: url("Chava.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
* {
    font-family: Chava;
    font-size:2.0ex;
}
#wrapper{
    min-height: calc(100vh - 60px);
}
#header_main{
    width: 100%;
    height: 60px;
    background: #57b3ff;
}
#futer_main{
    width: 100%;
    height: 60px;
    background: #008e02;
}
.content{
    border: solid rgb(0, 83, 7) 2px; 
    float: left;
    width:90%;
    min-height: calc(87.3vh - 0px);
    background-image: url(background1.jpg);
    background-repeat: no-repeat;
    background-size:90vw 86.9vh;
    overflow: hidden;
    cursor: url(Crosshair.cur), pointer;
    position: relative;
    box-sizing: border-box;
}
.dogShowDuck{
    background-image: url(dog.png);
    background-size: 100% 100%;
    position: absolute;
    height: 256px;
    width: 256px;
    display:none;
    top: 820px;
    left: 735px;
}
.duckRofl{
    background-image: url(duckRofl.png);
    background-size: 100% 100%;
    position: absolute;
    height: 200px;
    width: 200px;
    display:none;
}
.duckRoflBonus{
    position: absolute;
    height: 200px;
    width: 200px;
    display:none;
}
.missImg{
    width: 50px;
    height: 50px;
    display: none;
    top: 0px;
    left: 0px;
    position: absolute;
    background-image: url(missImg.png);
    background-size: 100% 100%;
}
.utochka{
    background-image: url(utka.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 200px;
    height: 200px;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: scaleX(1);
    border-radius: 50%;
}
.utochka2{
    background-image: url(utka.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 200px;
    height: 200px;
    display: none;
    position: absolute;
    top: 300px;
    left: 0px;
    transform: scaleX(1);
    border-radius: 50%;
}
.utochka3{
    background-image: url(utka.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 200px;
    height: 200px;
    display: none;
    position: absolute;
    top: 600px;
    left: 0px;
    transform: scaleX(1);
    border-radius: 50%;
}

.startDiv{
    height: 28px;
    width: 100%;
    border-top: solid rgb(0, 83, 7) 2px;
    border-bottom: solid rgb(0, 83, 7) 2px;
    box-sizing: border-box;
}
.start{
    width: 100%;
    display: none;
}
.inventory{
    width: 100%;
    min-height: calc(20.3vh - 0px);
    border-bottom: solid rgb(0, 83, 7) 2px;
    box-sizing: border-box;
}
.patron{
    float: left;
    background-size: 28px 50px;
    background-image: url(72.png);
    width: 28px;
    height: 50px;
    border: solid black 1px;
}
.emptyPatron{
    float: left;
    width: 28px;
    height: 50px;
    border: solid black 1px;
}

.utkiLifeBar{
    float: right;
    width: 620px;/*должно влезть20 сердец*/
    height: 60px;
}
.middle_block{
    position: absolute;
    float: right;
    right: 50%;
}
.moneyInfo{
    margin: auto;
    margin-top: 20px;
    display: inline-block;
    position: relative;
    float: left;
    left: 50%;
}
.utkaColorBlockMain{
    float: right;
    height: 60px;
    width: 34px;
}

.utkaColorBlock{
    height: 20px;
    width: 34px; 
    background-size: 100% 100%;
}
.utochkaHpBlock, .utochka2HpBlock, .utochka3HpBlock{
    float: right;
    position: relative;
    right: 0px;
    top: 0px;
    width: 520px;/*должно влезть20 сердец*/
    height: 20px;
}
.utochkaHp{
    width: 20px;
    height: 15px;
    background-size: 20px 15px;
    background-image: url(heart2.png);
    float: right;
    margin: 3px;
}
.infoWrapper{
    float: left;
    width: 10%;
    min-height: calc(87.3vh - 0px);
    box-sizing: border-box;
}
.information{
    width: 100%;
    border-bottom: solid rgb(0, 83, 7) 2px;
    box-sizing: border-box;  
}
.timer_center{
    position: relative;
    top: 0px;
    width: 100%;
    text-align: center;
}
.ammo{
    border-bottom: solid rgb(0, 83, 7) 1px;
    text-align: center;
}
.thisLvlNumber, .nextLvlInfo, .money {
    border-top: solid rgb(0, 83, 7) 1px;
    text-align: center;
}
.nextLvlInfo{
    height: 300px;
}
.thisLvlInfo{
    border-top: solid rgb(0, 83, 7) 1px;
    text-align: center;
    height: 300px;
    display: none;
}
.upgradeInformation{
    width: 100%;
    height: 188px;
    border-top: solid rgb(0, 83, 7) 2px;
    text-align: center;
}
.choiceComplexity{
    top: 0px;
    height: 140px;
    width: 40%;
    margin:0 auto;
    border-top: solid rgb(0, 83, 7) 2px;  
    background-color: rgba(83, 30, 0, 0.7);
    box-shadow: 0px 0px 31px 5px #000000 inset; 
    border-radius: 0 0 50px 50px;
    box-sizing: border-box;
    padding: 0px;
}
.complexityDescription{
    margin-top: 10px;
    text-align: center;
    font-size: 1.8em;
    height: 40px;
    width:100%;  
}
.choiceComplexity>button{
    float: left;
    border: solid black ;
    border-radius: 0 0 10px 10px;
    width: 33.3%;
    height: 50px;
    background-color: #5D514C;
}
.choiceComplexity button:hover{
    box-shadow: 0px 0px 31px 5px #000000 inset;
}
.shop{
    position: absolute;
    display: none;
    bottom: 25px;
    height: 530px;
    width: 100%;
    border-top: solid rgb(0, 83, 7) 2px;  
    background-color: rgba(83, 30, 0, 0.7);
    box-shadow: 0px 0px 31px 5px #000000 inset;
}
.shop_shelf{
    height: 150px;
    width: 20%;
    float: left;
    border: solid black 1px; 
    box-sizing: border-box;
    position: relative;
    overflow: visible;
}
.shop_shelf:hover{
    box-shadow: 0px 0px 31px 5px #000000 inset;
}
.shop_shelf > img{
    margin-top: 10px;
    height: 130px;
    width: 55%;
    float: left; 
}
.shop_shelf > .description{
    height: 150px;
    width: 45%;
    float: left;
    box-sizing: border-box;
    padding-right: 5px;
}
.shop_shelf > button{
    width: 100%;
    height: 25px;
    float: left;
    box-sizing: border-box;
    border: solid black 1px;
    z-index: 10;
    position: absolute ;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 10px 1px #000000 inset; 
    top: -9999px;
    opacity: 0;
    transition: 1.4s opacity; 
}
.shop_shelf:hover button{
    top: 149px;
    opacity: 1;
}
.shop_signboard{
    text-align: center;
    font-size: 4em;
    height: 80px;
    width:100%;
}